.aboutImage {
  height: 350px;
  width: 85%;
  display: block;
  margin: 10px auto;
  object-fit: cover;
  box-shadow: 10px 10px #0000001a;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.social {
  color: #636363;
  font-size: 28px;
  margin: 0 8px;
  transition: all 0.2s ease-in-out;
}

.social:hover {
  color: #4b92db;
}

.inToDiv {
  width: 90%;
  margin: 0 auto 25px;
}

.inToGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.inToGrid > img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  margin: 0;
}
