.about {
  margin-top: 50px;
}

.aboutImage {
  height: 350px;
  width: 85%;
  display: block;
  margin: 10px auto;
  object-fit: cover;
  box-shadow: 10px 10px #0000001a;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.social {
  color: #636363;
  font-size: 28px;
  margin: 0 8px;
  transition: all 0.2s ease-in-out;
}

.social:hover {
  color: #4b92db;
}

.upToDiv,
.inToDiv {
  width: 90%;
  margin: 0 auto 25px;
}

.upToDiv h3,
.inToDiv h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: #4b92db;
  text-align: center;
  margin-bottom: 12px;
}

.upToDiv a,
.inToDiv a {
  color: #202020;
  transition: all 0.2s ease-in-out;
}

.upToDiv a:hover,
.inToDiv a:hover {
  color: #4b92db;
}

.upToDiv p {
  text-align: center;
}

.inToDiv h3 {
  margin: 20px 0;
}

.inToDiv p {
  text-align: right;
  font-size: small;
}

.inToItem {
  margin: 20px 0;
}

.inToDiv img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  display: block;
  margin: -12px auto 0;
}

@media only screen and (max-width: 991px) {
  .upToDiv h2,
  .inToDiv h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 575px) {
  .aboutImage {
    height: 250px;
  }

  .inToDiv img {
    height: 120px;
    width: 120px;
  }

  .inToDiv p {
    text-align: left;
  }

  .upToDiv p {
    font-size: small;
  }

  .social {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .about {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 273px) {
  .social {
    font-size: 14px;
  }
}
