.brand {
  height: 14vw;
  width: 14vw;
  min-height: 55px;
  min-width: 55px;
  max-height: 108px;
  max-width: 108px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  position: fixed;
  z-index: 7;
  background: #4b92db;
  color: #fbf7d5;
  box-shadow: 0 4px 30px r#0000001A;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  transition: all 0.2s ease-in-out;
}

.brand:hover {
  background: #fbf7d5;
  color: #4b92db;
  box-shadow: 10px 10px #0000001a;
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid #4b92db;
}
