.directory {
  height: 40vh;
  width: 80%;
  position: relative;
  margin-left: 80px;
  padding-left: 20px;
  border: 2px solid #4b92db;
}

.directory h2 {
  margin: 25px 0;
}

.directory a {
  color: #4b92db;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.directory a:hover {
  border: 2px solid #4b92db;
  box-shadow: 10px 10px #0000001a;
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
}

@media only screen and (max-width: 600px) {
  .directory {
    margin-left: 40px;
  }

  .directory h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 430px) {
  .directory h2 {
    font-size: 1.25rem;
  }
}
