.hero {
  height: auto;
  width: 100%;
  margin: 30px 0;
}

.social {
  color: #636363;
  font-size: 28px;
  margin: 0 8px;
  transition: all 0.2s ease-in-out;
}

.social:hover {
  color: #4b92db;
}

.directory {
  height: 50vh;
  position: relative;
  background: #4b92db1a;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.directory h2 {
  margin: 25px 0;
}

.directory a {
  color: #4b92db;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.directory a:hover {
  background: #fbf7d5de;
  border: 1px solid #4b92db;
  box-shadow: 10px 10px #0000001a;
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
}

@media only screen and (max-width: 404px) {
  .hero {
    margin-top: 60px;
  }

  .hero p {
    font-size: small;
  }

  .social {
    font-size: 20px;
  }
}

@media only screen and (max-width: 273px) {
  .hero p {
    font-size: small;
  }

  .social {
    font-size: 14px;
  }
}
