.menuButtonClosed,
.menuButtonOpen {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  position: fixed;
  right: 0;
  z-index: 7;
  cursor: pointer;
  transition: 0.2s;
}

.menuButtonOpen {
  background: #4b92db;
  color: #fbf7d5;
  box-shadow: -10px 10px #0000001a;
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
}

.hamburgerClosed,
.hamburgerOpen {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburgerClosed:before,
.hamburgerClosed:after,
.hamburgerClosed div,
.hamburgerOpen:before,
.hamburgerOpen:after,
.hamburgerOpen div {
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.hamburgerClosed:before,
.hamburgerClosed:after,
.hamburgerClosed div {
  background-color: #4b92db;
}

.hamburgerOpen:before {
  transform: translateY(10px) rotate(135deg);
  background-color: #fbf7d5;
}

.hamburgerOpen:after {
  transform: translateY(-10px) rotate(-135deg);
  background-color: #fbf7d5;
}

.hamburgerOpen div {
  transform: scale(0);
}
