.portfolio a {
  transition: all 0.2s ease-in-out;
}

.projects {
  padding-top: 8px;
}

.project {
  padding: 20px 0;
  width: 60%;
  border-top: 2px solid #4b92db;
  /* border-left: 2px solid #4b92db; */
  /* border-right: 2px solid #4b92db; */
}

.lastProject {
  border-bottom: 2px solid #4b92db;
}

.project img {
  height: 250px;
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.projectDetails {
  padding: 20px 20px 0;
}

.projectBio,
.projectMetadata {
  font-size: 16px;
}
