.portfolio a {
  transition: all 0.2s ease-in-out;
}

.projects {
  padding-top: 8px;
}

.project {
  padding: 20px 0;
  width: 60%;
  border-top: 2px solid #4b92db;
}

.lastProject {
  border-bottom: 2px solid #4b92db;
}

.project img {
  height: 250px;
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.projectDetails {
  padding: 20px 20px 0;
}

.projectBio,
.projectMetadata {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .portfolio h2 > a {
    font-size: 1.25rem;
  }

  .project {
    width: 80%;
  }
}

@media only screen and (max-width: 430px) {
  .portfolio h2 > a {
    font-size: 1.15rem;
  }

  .project {
    width: 100%;
  }
}
