@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@700&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    color: #202020;
    background-color: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.layout {
    margin-bottom: 100px;
}

.menu {
    background: rgba(251, 247, 213, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
    text-align: center;
    position: fixed;
    z-index: 5;
}

.menu .menuContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.menu a {
    color: #202020;
    transition: all .2s ease-in-out;
}

.menu a:hover {
    color: #4B92DB;
}

.menuContent h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.children {
    position: relative;
    z-index: 3;
    padding-top: 120px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .children {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 500px) {
    .menu .menuContent {
        font-size: medium;
    }
}

@media only screen and (max-width: 400px) {
    .children {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 300px) {
    .menu .menuContent {
        font-size: small;
    }
}