.headDiv {
    margin-bottom: 25px;
}

.aboutImageCol {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutImage {
    height: 350px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    color: #4B92DB;
    border: 1px solid #4B92DB;
    box-shadow: 10px 10px;
}

.bioCol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow-wrap: break-word;
}

.bioCol p {
    font-size: 16px;
    color: #202020;
}

.upToDiv, .inToDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: #202020;
}

.upToDiv h3, .inToDiv h3 {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #4B92DB;
    text-align: center;
    margin-bottom: 12px;
}

.upToDiv p, .inToDiv p {
    text-align: center;
}

.upToDiv a, .inToDiv a {
    text-decoration: none;
    color: #202020;
}

.upToDiv a:hover, .inToDiv a:hover {
    text-decoration: solid;
    color: #4B92DB;
}

@media only screen and (max-width: 991px) {
    .upToDiv h2, .inToDiv h2 {
        text-align: center;
    }
}