.footer {
    height: 70px;
    margin-top: auto;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    width: 100%;
    bottom: 0;
    padding-top: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
}

.footer a {
    color: #202020;
    transition: all .2s ease-in-out;
}

.footer a:hover {
    color: #4B92DB;
}

.social {
    color: #636363;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.social:hover {
    color: #4B92DB;
}