@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');

html, body {
    margin: 0;
    top: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

body::after{
    content: '';
    display: block;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', sans-serif;
}