.portfolio {
    width: 70%;
    color: #202020;
}

.project {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    width: 100%;
}

.metadata {
    color: #636363;
    font-size: 14px !important;
}

.projectBio {
    font-size: 18px;
    color: #202020;
}

.project a {
    color: #4B92DB;
}

.project img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}