.menuButtonClosed, .menuButtonOpen {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    position: fixed;
    right: 0;
    transition: 0.2s;
    z-index: 7;
    cursor: pointer;
}

.menuButtonClosed {
    background: rgba(75, 146, 219, 0.87);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    color: #FBF7D5;
}

.menuButtonOpen {
    background: rgba(251, 247, 213, 0.87);
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    color: #4B92DB;
    border: 1px solid #4B92DB;
}

.hamburgerClosed, .hamburgerOpen {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburgerClosed:before, .hamburgerClosed:after, .hamburgerClosed div, .hamburgerOpen:before, .hamburgerOpen:after, .hamburgerOpen div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 3px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.hamburgerClosed:before, .hamburgerClosed:after, .hamburgerClosed div {
    background-color: #FBF7D5;
}

.hamburgerOpen:before {
    transform: translateY(10px) rotate(135deg);
    background-color: #4B92DB;
}

.hamburgerOpen:after {
    transform: translateY(-10px) rotate(-135deg);
    background-color: #4B92DB;
}

.hamburgerOpen div {
    transform: scale(0);
}